.form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #F9F0DA;
    border-bottom: 4px solid #be290e;
}
.input, button{
    border: none;
    outline: none;
    background: transparent;
}
.input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.button_search:before {
    content: '🔎';
    /*font-family: FontAwesome;*/
    font-size: 20px;
    /*color: #be290e;*/
}
